body {
    background-image: url("../img/background.svg");    
    width: 100%;
    height: 100%;
    display: block; 
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: Palatino,Georgia,serif; 
    margin-top: 10%;
}

h4 {
    text-align: center;
    font-family: Palatino,Georgia,serif;
    font-style: italic;
    font-size: 16px;

}

a {
    text-align: center;
    font-family: Palatino,Georgia,serif;
    font-style: italic;
    font-size: 18px;
    color: #234b4e;
}

select {
    margin-top: 180%;
}

canvas {
    margin-left: 30%;
    margin-top: 21%;
    height: 600px !important;
    width: 600px !important;
}

@media only screen and (max-width: 480) {
    canvas {
        width: 20% !important;
        height: 20% !important;
    }
}

.loader {
    margin-left: 63%;
    margin-top: 55%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
